

@font-face {

  font-family: 'OpenSans';

  src: url('OpenSans.eot?#iefix') format('embedded-opentype'),  url('OpenSans.woff') format('woff'), url('OpenSans.ttf')  format('truetype'), url('OpenSans.svg#OpenSans') format('svg');

  font-weight: normal;

  font-style: normal;
    font-display: swap;
}



@font-face {

  font-family: 'OpenSans-Bold';

  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Bold.woff') format('woff'), url('OpenSans-Bold.ttf')  format('truetype'), url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');

  font-weight: normal;

  font-style: normal;
    font-display: swap;
}





@font-face {

  font-family: 'OpenSans-Extrabold';

  src: url('OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Extrabold.woff') format('woff'), url('OpenSans-Extrabold.ttf')  format('truetype'), url('OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');

  font-weight: normal;

  font-style: normal;
font-display: swap;
}



@font-face {

	font-family: 'OpenSans-Light';

	src: url('OpenSans-Light.eot?') format('eot'),

	     url('OpenSans-Light.woff') format('woff'),

	     url('OpenSans-Light.ttf')  format('truetype'),

	     url('OpenSans-Light.svg#OpenSans-Light') format('svg');
font-display: swap;
}



@font-face {

	font-family: 'OpenSans-Semibold';

	src: url('OpenSans-Semibold.eot?') format('eot'),

	     url('OpenSans-Semibold.woff') format('woff'),

	     url('OpenSans-Semibold.ttf')  format('truetype'),

	     url('OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
font-display: swap;
}





@font-face {

  font-family: 'OpenSansLight-Italic';

  src: url('OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),  url('OpenSansLight-Italic.woff') format('woff'), url('OpenSansLight-Italic.ttf')  format('truetype'), url('OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');

  font-weight: normal;

  font-style: normal;
font-display: swap;
}


