{% include "partials/header.html" %}
<head xmlns="http://www.w3.org/1999/html">
    <title>Coco Peat 5 Kg Blocks - Washed Low EC, Unwashed HighEC - Manufacturer- ExporterFibre Family</title>
</head>
<style xmlns="http://www.w3.org/1999/html">
    .wp-block-heading {
    color: lightgreen;
    font-weight: 300; /* thin/light text */
}
    .has-medium-font-size {
    text-align: justify;
    }
    .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
    .image-row {
    display: flex;
    justify-content: center; /* centers the group */
    gap: 20px; /* spacing between images */
  }
  .image-row img {
    width: 250px; /* adjust size */
    height: auto;
    border-radius: 50%; /* makes them circular */
  }
    li a {
    font-size: 14px;       /* makes text smaller */
    color: grey;           /* sets text color */
    text-decoration: none; /* removes underline */
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  font-size: 14px;
}

.custom-table thead {
  background-color: #4CAF50; /* green header */
  color: white;
  text-align: center;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  vertical-align: middle;
  border: 1px solid #ddd;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* zebra striping */
}

.custom-table tbody tr:hover {
  background-color: #e6ffe6; /* light green hover */
}

.custom-table ul {
  margin: 0;
  padding-left: 18px;
}

.custom-table a {
  color: #555;
  text-decoration: none;
  font-size: 13px;
}

.custom-table a:hover {
  color: #4CAF50;
  text-decoration: underline;
}


</style>
<body class="page-template-default page page-id-338 fl-builder-lite-2-9-4-2 fl-no-js">
<!--[if lt IE 8]>
<div class="alert alert-warning">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
    browser</a> to improve your experience.
</div>
<![endif]-->

<div class="container">
    <div class="row">
        <h1 id="post-417" class="text-center wp-block-heading">Coco Peat 5 Kg Blocks</h1>
        <div class="row product_details">
            <!-- Left column: image -->
            <div class="col-sm-12 col-md-6">
                <img
                        fetchpriority="high"
                        decoding="async"
                        class="img-fluid alignnone size-full wp-image-469"
                        src="https://res.cloudinary.com/duae26gq4/image/upload/v1770194382/Coco_Peat_5_Kg_Blocks_qn8opr.jpg"
                        alt="Coco Peat Blocks - 5 Kg">
            </div>
            <!-- Right column: text -->
            <div class="col-sm-12 col-md-6">
                <h2>Washed Low EC &amp; Unwashed High EC Coco Peat 5 Kg blocks</h2>
                <p>
                    Weighing from 4.8 to 5.2 Kg, a single Coco Peat 5 Kg block when hydrated with approximately 25
                    litres
                    of water will slowly reconstitute to yield 60 to 75 litres. Usually packed in pallets or as bales of
                    5
                    pieces each, 5 Kg coco peat blocks are largely used in bulk for making potting soil or for
                    cultivating
                    fruits and vegetables in soil-less cultivation. Coco Peat 5 Kg blocks are available in two qualities
                    –
                    Washed Low EC and Unwashed High EC
                </p>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td><img src="https://www.fibrefamily.com//wp-content/uploads/2017/08/dimension.png"
                                     alt="dimension" width="25" height="16"></td>
                            <td>Dimension :</td>
                            <td>30 cm x 30 cm x 12 to 15 cm</td>
                        </tr>
                        <tr>
                            <td><img src="https://www.fibrefamily.com//wp-content/uploads/2017/08/materials.png"
                                     alt="materials" width="25" height="16"></td>
                            <td>Materials :</td>
                            <td>Coco Peat</td>
                        </tr>
                        <tr>
                            <td><img src="https://www.fibrefamily.com//wp-content/uploads/2017/08/truck.png"
                                     alt="loadability" width="25" height="16"></td>
                            <td>Loadability :</td>
                            <td>Upto 26 tons per 40ft HC</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </br></br>
            <h3 class="wp-block-heading">Coco Peat Product Specifications</h3>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table custom-table">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Item</th>
                                <th>Expansion</th>
                                <th>Destoned</th>
                                <th>Dimension</th>
                                <th>Weight</th>
                                <th>Packing Options</th>
                                <th>Grades Available</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>FF/CP5/SP</strong></td>
                                <td><strong>Coco Peat Block – Super Professional</strong></td>
                                <td>17 to 18 ltr/Kg</td>
                                <td rowspan="2">Yes</td>
                                <td rowspan="3">30 cm x 30 cm x 9 – 13 cm</td>
                                <td rowspan="3">
                                    <ul>
                                        <li>4.8 – 5.2 Kg (Retail Grade, Weighmetric Production)</li>
                                        <li>3.5 – 5.2 Kg (Substrate Grade, Volumetric / Bulk Production)</li>
                                    </ul>
                                </td>
                                <td rowspan="4">
                                    <ul>
                                        <li>Palletized</li>
                                        <li>Bale packing</li>
                                        <li>Individually shrink-wrapped with label</li>
                                    </ul>
                                </td>
                                <td rowspan="2">
                                    <ul>
                                        <li><a href="#ws">WS</a></li>
                                        <li><a href="#sws">SWS</a></li>
                                        <li><a href="#uws">UWS</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>FF/CP5/P</strong></td>
                                <td><strong>Coco Peat Block – Professional</strong></td>
                                <td>15 to 16 ltr/Kg</td>
                            </tr>
                            <tr>
                                <td><strong>FF/CP5/B</strong></td>
                                <td><strong>Coco Peat Block – Basic</strong></td>
                                <td>13 to 14 ltr/Kg</td>
                                <td>Yes</td>
                                <td>
                                    <ul>
                                        <li><a href="#ws">WS</a></li>
                                        <li><a href="#sws">SWS</a></li>
                                        <li><a href="#uws">UWS</a></li>
                                        <li><a href="#w">W</a></li>
                                        <li><a href="#uw">UW</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>FF/CP5/MIX70</strong></td>
                                <td><strong>Coco Peat Block – Mixte 70 (70% Coco Peat, 30% Coco Chips)</strong></td>
                                <td>13 to 14 ltr/Kg</td>
                                <td>Yes</td>
                                <td>30 cm x 30 cm x 10 – 13 cm</td>
                                <td>
                                    <ul>
                                        <li>4.8 – 5.2 Kg (Retail Grade, Weighmetric Production)</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li><a href="#ws">WS</a></li>
                                        <li><a href="#sws">SWS</a></li>
                                        <li><a href="#uws">UWS</a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h3 class="wp-block-heading">Grade Specificaton</h3>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table custom-table">
                            <thead>
                            <tr>
                                <th>Specifications</th>
                                <th>Electrical Conductivity</th>
                                <th>Washed</th>
                                <th>Sifted</th>
                                <th>Moisture</th>
                                <th>pH</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong><a id="ws"></a>WS – Washed &amp; Sifted</strong></td>
                                <td>&lt; 0.5 mS/cm</td>
                                <td>Yes</td>
                                <td>Yes</td>
                                <td rowspan="5">15 %</td>
                                <td rowspan="5">5.6 to 6.8</td>
                            </tr>
                            <tr>
                                <td><strong><a id="w"></a>W – Washed</strong></td>
                                <td>&lt; 0.5 mS/cm</td>
                                <td>Yes</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td><strong><a id="sws"></a>SWS – Semi-Washed &amp; Sifted</strong></td>
                                <td>&lt; 1.5 mS/cm</td>
                                <td>Yes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong><a id="uws"></a>UWS – Unwashed &amp; Sifted</strong></td>
                                <td>&gt; 1.5 mS/cm</td>
                                <td>No</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong><a id="uw"></a>UW – Unwashed</strong></td>
                                <td>&gt; 1.5 mS/cm</td>
                                <td>No</td>
                                <td>No</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center wp-block-heading">Related Posts</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


{% include "partials/footer.html" %}