{% include "partials/header.html" %}
<head xmlns="http://www.w3.org/1999/html">
    <title>Coco Chips | Coir Chips - Washed and Unwashed - Manufacturer &amp; Exporter - The CocoPeat Factory</title>
</head>
<style xmlns="http://www.w3.org/1999/html">
    .wp-block-heading {
    color: lightgreen;
    font-weight: 300; /* thin/light text */
}
    .has-medium-font-size {
    text-align: justify;
    }
    .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
    .image-row {
    display: flex;
    justify-content: center; /* centers the group */
    gap: 20px; /* spacing between images */
  }
  .image-row img {
    width: 250px; /* adjust size */
    height: auto;
    border-radius: 50%; /* makes them circular */
  }
    li a {
    font-size: 14px;       /* makes text smaller */
    color: grey;           /* sets text color */
    text-decoration: none; /* removes underline */
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  font-size: 14px;
}

.custom-table thead {
  background-color: #4CAF50; /* green header */
  color: white;
  text-align: center;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  vertical-align: middle;
  border: 1px solid #ddd;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* zebra striping */
}

.custom-table tbody tr:hover {
  background-color: #e6ffe6; /* light green hover */
}

.custom-table ul {
  margin: 0;
  padding-left: 18px;
}

.custom-table a {
  color: #555;
  text-decoration: none;
  font-size: 13px;
}

.custom-table a:hover {
  color: #4CAF50;
  text-decoration: underline;
}


</style>
<body class="page-template-default page page-id-338 fl-builder-lite-2-9-4-2 fl-no-js">
<!--[if lt IE 8]>
<div class="alert alert-warning">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
    browser</a> to improve your experience.
</div>
<![endif]-->

<div class="container">
    <div class="row">
        <h1 id="post-417" class="text-center wp-block-heading">Coco Chips</h1>

        <div class="row product_details">
            <!-- Left column: image -->
            <div class="col-sm-12 col-md-6">
                <img
                        fetchpriority="high"
                        decoding="async"
                        class="img-fluid alignnone size-full wp-image-469"
                        src="https://res.cloudinary.com/duae26gq4/image/upload/v1770194380/Coco_Chips_z08yzi.jpg"
                        alt="Coco chips">
            </div>
            <!-- Right column: text -->
            <div class="col-sm-12 col-md-6">
                <h2 class="text-center wp-block-heading">Coco Chips – Chipped Coconut Husks</h2>
                <p>
                    Coconut husks are chipped into small sized chips called Coco Chips. Coco Chips are added to potting
                    soil or mixed with Coco Peat to regulate the aeration of growing medium and maintain the ideal air
                    to moisture ratio for the plant roots. Widely popular among Orchid and Anthurium growers as the
                    ideal growing medium, Coco Chips can be mixed at different proportions with Coco Peat to regulate
                    the aeration and moisture level of the growing medium.
                </p>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td><img
                                    src="https://res.cloudinary.com/duae26gq4/image/upload/v1770216813/dimension_abb66x.png"
                                    alt="dimension" width="25" height="16"></td>
                            <td>Dimension :</td>
                            <td>30 cm x 30 cm x 15 cm (4.5 KG)<br/>
                                20 cm x 10 cm x 5 cm (500 gm)
                            </td>
                        </tr>
                        <tr>
                            <td><img
                                    src="https://res.cloudinary.com/duae26gq4/image/upload/v1770216941/materials_phpx1h.png"
                                    alt="materials" width="25" height="16"></td>
                            <td>Materials :</td>
                            <td>Coconut Husk</td>
                        </tr>
                        <tr>
                            <td><img
                                    src="https://res.cloudinary.com/duae26gq4/image/upload/v1770216981/truck_t4lxrj.png"
                                    alt="loadability" width="25" height="16"></td>
                            <td>Loadability :</td>
                            <td>Upto 24 tons<br/>
                                per 40ft HC
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </br></br>
            <div class="col-sm-12">At The CocoPeat Factory, we chop the husk to produce mainly three different grades of coco
                chips, sorted based on the average chip size.</p>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table custom-table">
                                <thead>
                                <tr>
                                    <th>Ref</th>
                                    <th>Reference Name</th>
                                    <th>Average Chip Size</th>
                                    <th>Grades</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>FF/CHIP/F</td>
                                    <td>Coco Chips &#8211; Fine</td>
                                    <td>2 mm &#8211; 8 mm</td>
                                    <td rowspan="3">Washed, Unwashed</td>
                                </tr>
                                <tr>
                                    <td>FF/CHIP/M</td>
                                    <td>Coco Chips &#8211; Medium</td>
                                    <td>4 mm &#8211; 12 mm</td>
                                </tr>
                                <tr>
                                    <td>FF/CHIP/C</td>
                                    <td>Coco Chips &#8211; Coarse</td>
                                    <td>12 mm &#8211; 18 mm</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">Available variants and their specifications:</p>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table custom-table">
                                <thead>
                                <tr>
                                    <th>Specifications</th>
                                    <th>Unwashed</th>
                                    <th>Washed</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong>Electrical Conductivity</strong></td>
                                    <td>&gt; 1.0 mS/cm</td>
                                    <td>&lt; 0.65 mS/cm</td>
                                </tr>
                                <tr>
                                    <td><strong>pH</strong></td>
                                    <td>5.4 to 5.8</td>
                                    <td>5.6 to 6.8</td>
                                </tr>
                                <tr>
                                    <td><strong>Impurities</strong></td>
                                    <td>&lt; 3%</td>
                                    <td>&lt; 3%</td>
                                </tr>
                                <tr>
                                    <td><strong>Moisture</strong></td>
                                    <td>10 &#8211; 15%</td>
                                    <td>10 &#8211; 15%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">The CocoPeat Factory Coco Chips are available in two standard block sizes:</p>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table custom-table">
                                <thead>
                                <tr>
                                    <th>Block Weight</th>
                                    <th>Block Dimension</th>
                                    <th>Packing</th>
                                    <th>Compression Ratio</th>
                                    <th>Loadability (per 40ft HC)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>4.5 Kg</td>
                                    <td>30 cm x 30 cm x 15 cm</td>
                                    <td rowspan="2">Individually shrink-wrapped with or without label</td>
                                    <td rowspan="2">5:1</td>
                                    <td>4000 pieces</td>
                                </tr>
                                <tr>
                                    <td>500 gm</td>
                                    <td>10 cm x 20 cm x 5 cm</td>
                                    <td>30800 pieces</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6"><img decoding="async" class="size-full wp-image-1076 lazyload"
                                                 data-src="https://res.cloudinary.com/duae26gq4/image/upload/v1770260134/Coco_Chips_4.5_Kg_Blocks_With_Label_zcucfd.jpg"
                                                 alt="Coco Chips 4.5 Kg Blocks With Label" width="500" height="400"
                                                 data-srcset="https://res.cloudinary.com/duae26gq4/image/upload/v1770260134/Coco_Chips_4.5_Kg_Blocks_With_Label_zcucfd.jpg"
                                                 data-sizes="(max-width: 600px) 100vw, 600px"
                                                 src="https://res.cloudinary.com/duae26gq4/image/upload/v1770260134/Coco_Chips_4.5_Kg_Blocks_With_Label_zcucfd.jpg"
                                                 style="--smush-placeholder-width: 600px; --smush-placeholder-aspect-ratio: 600/560;"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2 class="wp-block-heading">Coco Chips 4.5 Kg Blocks</h2>
                <h3 class="wp-block-heading">Shrink Wrapped With Label</h3>
                <p>Weighing 4.5 Kg +/- 5%, each blocks are individually shrink wrapped with or without label (of your
                    choice) and are either palletised or bale packed (5 pieces of coco chips blocks are baled together
                    with PP strap after wrapping in polythene bag). These blocks are primarily targeted for Home and
                    Hobby Growers, for sale in Retail Stores and Garden Centres.</p>
                <div class="col-sm-12"></p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table custom-table">
                                    <thead>
                                    <tr>
                                        <th>Block Weight</th>
                                        <th>Block Dimension</th>
                                        <th>Packing</th>
                                        <th>Compression Ratio</th>
                                        <th>Loadability (per 40ft HC)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>4.5 Kg</td>
                                        <td>30 cm x 30 cm x 15 cm</td>
                                        <td rowspan="2">Individually shrink-wrapped with or without label</td>
                                        <td rowspan="2">5:1</td>
                                        <td>4000 pieces</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</body>


{% include "partials/footer.html" %}